<!DOCTYPE html>
<html lang="en">

  <%- include("./partials/head.ejs") %>
  
<body>

<%- include("./partials/head.ejs") %>
<body>

    <%- include("./partials/nav.ejs") %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus lacinia luctus magna, sit amet maximus justo varius sed. Sed non mattis augue. Curabitur vel metus augue. Quisque placerat nulla mi. Fusce pellentesque nisi eget metus facilisis dictum. In non facilisis erat, ac tristique urna. Quisque eleifend justo non imperdiet molestie. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent commodo vel odio a egestas.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus lacinia luctus magna, sit amet maximus justo varius sed. Sed non mattis augue. Curabitur vel metus augue. Quisque placerat nulla mi. Fusce pellentesque nisi eget metus facilisis dictum. In non facilisis erat, ac tristique urna. Quisque eleifend justo non imperdiet molestie. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent commodo vel odio a egestas.</p>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>